p {
  font-family: Lato;
}
.row_group {
  display: flex;
  flex-direction: row;
}

.rectangle {
  width: 50px;
  height: 50px;
  font-size: 10px;
  display: flex;
  color: gray;
  align-items: center;
  justify-content: center;
  border: 0.2px solid white;
  flex-direction: column;
  border-radius: 5px;
}

.selected {
  width: 50px;
  height: 50px;
  font-size: 10px;
  color: blue;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 2px solid black;
  border-radius: 5px;
}
